html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {

	width: 800px;
	height: relative;
}

.index-bg{
	background-image: url("../image/pastel-bg.jpeg");
}

.dressUp-bg{
	background-image: url("../image/BETA BG.png");
}

.IV-bg{
	background-image: url("../image/IV.jpg");
	background-repeat: no-repeat;
}

.MRI-bg{
	background-image: url("../image/MRI.jpg");
	background-repeat: no-repeat;
}

.breathing-bg {
	background-image: url("../image/breathingBg.png");
	background-repeat: no-repeat;
	margin-left: 40px;
}


#Games{
	padding-top: 450px;
}

.dressUp img{
	float: left;
	margin-top: -150px;
	margin-left: 150px;
}

.coping img{
	float: left;
	margin-top: -170px;
	margin-left: 800px;
}


/*Dress Up Game*/

#PrevButton{
	margin-left: 800px;
	margin-top: 145px;
}

#PrevButton .invisible{
	opacity: 0;
}

#PrevButton li{
	list-style-type : none;
	padding-top: 20px;
}

/*#hat {

	padding-left: 200px;
}*/

#NextButton{
	padding-left: 250px;
	margin-top: -510px;
}

#NextButton .invisible{
	opacity: 0;
}

#NextButton li{
	list-style-type : none;
	padding-top: 20px;
	padding-right: 300px;
}

#prev_acc {

	margin-left: 975px;
	margin-top: -350px;
}

#next_acc {

	margin-left: 975px;
	margin-top: -50px;
}

#Maki{
	margin: -495px 0px 0px 450px;
	
}

#hat_maki {
	margin-top: -75px;
}

#face_maki {
	/*position: absolute; ########### This so everything is not moving*/
	margin-top: -125px;
}

#body_maki {
	padding-left:20px;
	margin-top: -10px;
}

#feet_maki {
	padding-left: 48px;
	margin-top: -12px;
}

#Maki .mouth{
	padding-left: 143px;
	padding-top: 30px;
	position: absolute;
}


#Maki .accessory{
	margin-left: 250px;
	margin-top: -200px;
	position: absolute;
}	

#changeHat{
	background-repeat: no-repeat;
}

#submit_btn{
	margin-top: -630px;
	margin-left: 1100px;
}

#exit_btn{
	margin-top: 290px;
	margin-left: 30px;
}


/*IV Game*/

#Component_1{
	margin-top: 450px;
	margin-left:450px;
}

#Component_2{
	margin-top: 350px;
	margin-left: 900px;
}


#Explanation1{
	display: none;
	background-color:#fff;
    	color:#000;
    	padding:20px;
    	min-width:400px;
    	min-height: 180px;
}

#Explanation2{
	display: none;
	background-color:#fff;
    	color:#000;
    	padding:20px;
    	min-width:400px;
    	min-height: 180px;
}

#Explanation3{
	display: none;
	background-color:#fff;
    	color:#000;
    	padding:20px;
    	min-width:400px;
    	min-height: 180px;
}

.popup_close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

/*MRI Game*/

#Component_MRI_1{
	margin-top: 450px;
	margin-left:450px;
}

#Component_MRI_2{
	margin-top: 350px;
	margin-left: 900px;
}


#Component_MRI_3{
	margin-top: 250px;
	margin-left: 1300px;
}

.popup_close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

/*bouncing arrow*/

.bounce{
	position: absolute;
	animation: bounce 1s infinite;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	-o-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


/*X-Ray MAKI*/

#demo-container{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}

/*
	lg-container (the looking glass container) will fill its parent container unless specified otherwise.
*/

#my-container{
	position: relative;
	width:100%;
	height: 600px;
	margin: 150px auto;
	overflow: hidden;

}

#lg-bottom-image{
	border-width: 10px;
	border-style: solid;
}


/*Breathing game*/
#heart {

	width: 199px; 
	height: 89px; 
	background: #fff200; 
	margin-top: 120px;
	margin-left: 510px;
}

#lung1
{
	background:red;
	border-radius:500px;
	height:200px;
	width:200px;
	left: 750px;
	position: absolute;
	top: 250px;

	transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -moz-transition:    width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -ms-transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -o-transition:      width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -webkit-transition: width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;

}

#lung2
{
	background:red;
	border-radius:500px;
	height:200px;
	width:200px;
	left: 350px;
	position: absolute;
	top: 250px;

	transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -moz-transition:    width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -ms-transition:     width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -o-transition:      width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;
    -webkit-transition: width 5000ms, height 5000ms, border-radius 5000ms,left 5000ms, top 5000ms;

}

#heart:active #lung1{

	border-radius:1000px;
	height:400px;
	width:400px;
	left: 750px;
	top: 250px;
	
}

#heart:active #lung2{

	border-radius:1000px;
	height:400px;
	left: 250px;
	top: 250px;
	width:400px;
}
